{% extends 'base.html.twig' %}

{% block title %}Hello AdminProductController!{% endblock %}

{% block body %}
<h2>Liste des clients</h2>
{% for label,messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{label}}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
<div class="card bg-white p-5 mt-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Commande</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{customer.username}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.orders | length}}</td>
                <td>
                    <a href="#" class="btn btn-success"><i class="fi-xwluxl-eye-wide"></i></a> 
                    <form method="POST" style="display:inline-block" action="{{ path('admin_delete_customer', {id:customer.id}) }}" onsubmit="return confirm('Confirmer la suppression')">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ customer.id)}}">
                        <input type="submit" class="btn btn-danger" value="supprimer" >
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
