<div class="col-sm-6 col-md-4">
    <div class="card bg-ligth">
        <img src="{{product.image}}" alt="{{ product.name }}">
        {# <img src="{{ asset("build/images" ~ product.image) }}" alt="{{ product.name }}"> #}
        <div>{{ product.price }}&euro;</div>
        <div class="caption">
            <h4>{{ product.name }}</h4>
            <p>{{ product.description | raw }}</p>
            <a href="#" class="btn btn-primary w-100" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Commander</a>
        </div>
    </div>
</div>

