{% extends "base.html.twig" %}

{% block title %}Commandes{% endblock %}

{% block body %}
{% if app.user.username == username %}
    <h2>Mes commandes</h2>
{% else %}
    <h2>Les commandes de {{username}} </h2>
{% endif %}
<table class="table bg-white mb-5">
    <thead>
        <tr>
            <th>Numéro</th>
            <th>Adresse</th>
            <th>Date de commande</th>
            <th>Produits</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for p in purchases %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.adress }}<br>{{ p.postalCode }}, {{ p.city }}</td>
                <td>{{ p.purchaseAt | date('d-m-y') }}</td>
                <td>
                    <ul>
                        {% for item in p.purchaseItems %}
                            <li>{{ item.quantity }}x {{ item.productname }} {{ item.amount }}&euro;</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ p.amount }}&euro;</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Total</td>
            <td colspan="3">{{total_purchase | amount}}</td>
        </tr>
    </tfoot>
</table>
    
{% endblock %}

